[all:vars]
ansible_user={{ item.username }}
ansible_ssh_pass={{ admin_password }}
{% if ssh_port is defined %}
ansible_port={{ ssh_port }}
{% endif %}

[all]
{% for vm in instances.results %}
{{ vm.invocation.module_args.instance_tags.Name }} ansible_host={{ vm.tagged_instances[0].public_ip }}
{% endfor %}

[web]
{% for vm in instances.results %}
{% if "node" in vm.invocation.module_args.instance_tags.Name %}
{{ vm.invocation.module_args.instance_tags.Name }} ansible_host={{ vm.tagged_instances[0].public_ip }}
{% endif %}
{% endfor %}
